extends layout

block content
  div.row
    form.form-inline(id="searchForm", action="/search", method="post")
      p
        label Latitude
        input.lat.form-control(name="lat", type="text")
        label Longitude
        input.lng.form-control(name="lng", type="text")
        label Elevation
        input.ele.form-control(name="ele", type="text", readonlyi="true")
        label Altitude
        input.alt.form-control(name="alt", type="text")

        input.submitBtn.btn(type="submit", value="Search!")


  div.content.row
    div#entityList.col-lg-6
      h3
        span.count 0
        | Results

      div.listContainer
        table.table.table-striped.table-hover
          thead
            tr
              th Name
              th Latitude
              th Longitude
              th Address Extended
              th Altitude
              th Lat/Lng Distance 
              th Distance
          tbody
            
    div#map-canvas.col-lg-6


  script#liTempl(type="text/x-jquery-tmpl")
    tr
      td.name
      td.lat 
      td.lng
      td.addExt
      td.alt
      td.distance
      td.geoDistance
    
    
  script(src="/javascripts/app.js")
